@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.headimg {
  -webkit-box-shadow: 0px 0px 10px #333333;
          box-shadow: 0px 0px 10px #333333;
  padding: 6px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.headimg :hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}




