@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.headimg {
  -webkit-box-shadow: 0px 0px 10px #333333;
          box-shadow: 0px 0px 10px #333333;
  padding: 6px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.headimg :hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
@media (max-width: 512px)  and (min-resolution: 1.5dppx),
(max-width: 1024px) and (max-resolution: 1.5dppx) {
    body::before {
        background-image: url('images/bg_1024.jpg');
    }
}
@media (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
(min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
    body::before {
        background-image: url('images/bg_2048.jpg');
    }
}



